<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat App</title>
</head>
<body>
    <div class="profile-container">
        <div class="profile-left">
          <!-- Round portion for user image -->
          <img src="public/userProfile.png" alt="User Image" class="user-image">
        </div>
        <div class="profile-middle">
          <!-- Username -->
          <h2>Rishikesh Yadav</h2>
        </div>
        <div class="profile-right">
          <!-- 'Send Request' button -->
          <button class="send-request-button">Send Request</button>
        </div>
      </div>
</body>
</html>